body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #aec2b8, #070b09);
  }
  
  .container {
    width: 80%;
    margin: 50px auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  header h1 {
    font-size: 2.5em;
    margin: 0;
  }
  
  .hobby-description, .gallery, .contact {
    margin-bottom: 30px;
  }
  
  h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #333;
  }
  
  .hobby-description p, .contact p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #555;
  }
  
  .hobby-description ul {
    list-style-type: none;
    padding: 0;
  }
  
  .hobby-description li {
    font-size: 1.1em;
    line-height: 1.6;
    color: #555;
  }
  
  .hobby-description li strong {
    color: #000;
  }
  
  .gallery-images {
    display: flex;
    justify-content: space-between;
  }
  
  .gallery-images img {
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .contact ul {
    list-style-type: none;
    padding: 0;
  }
  
  .contact li {
    font-size: 1.1em;
    line-height: 1.6;
    color: #555;
  }
  
  .contact li a {
    color: #2575fc;
    text-decoration: none;
  }
  
  .contact li a:hover {
    text-decoration: underline;
  }
  